{% extends "./layouts/head.html.j2" %}

{% block title %}{% endblock %}

{% block head%} {% endblock %}

{% block content %}
  <div id="root"></div>
  <script src="/public/js/admin.bundle.js"></script>
{% endblock %}