{% extends "./layouts/head.html.j2" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  {% include "includes/header_logo.html.j2" %}
  {% include "./includes/navbar.html.j2" %}
  <div class="main-container">
    <p class="main-header">{{category}}</p>
    <div class="index-list">
      {% for cate in category_index %}
      <div class="main_blog-post">
        <a class="list-anchor" href="/blog/{{cate.file_name}}">
          <div class="list-anchor__info">
            <span class="info-title"> {{ cate.title }} </span>
            <span class="info-date"> {{ cate.date }} </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
