{% extends "./layouts/head.html.j2" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  {% include "./includes/navbar.html.j2" %}
  <h2>404 Not Found!</h2>
{% endblock %}
